.intro-link {
    color: black;
    margin-left: 15px;
}

.intro-link:hover {
    color: #f79514;
}

.intro-title, .intro-name {
    color: white;
}

.nav-link:hover {
    color: #5f2991 !important;
}

.navbar {
    box-shadow: none !important;
}
